<!DOCTYPE html>
<html lang="en">
<head>
  <!-- head from components partials -->
  <%- include('../partials/head'); %>
</head>
<body class="container">
  <!-- navbar from components partials -->
  <%- include('../partials/navbar'); %>
    <main>
      <div class="container">
        <h1>
          <%=title%>
        </h1>
        <ul>
          <% let contador=0; %>
          <% products.forEach(prod=> { %>
            <% contador++; %>
            <li style="color:<%=contador%2==1 ? 'green' : 'red'%>">
              <%=prod.ref %>-<%= prod.descripcion %>-<%= prod.precio*2 %>
            </li>
          <% }) %>
        </ul>
      </div>
    </main>
    <!-- footer from components partials -->
    <%- include('../partials/footer'); %>
</body>
</html>